<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Tambah Customer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="tambahCustomer()">
    <ion-item>
      <ion-label position="floating">Nama</ion-label>
      <ion-input
        [(ngModel)]="customer.nama"
        name="nama"
        required
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Pengirim</ion-label>
      <ion-input
        [(ngModel)]="customer.pengirim"
        name="pengirim"
        required
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Jenis Pesanan</ion-label>
      <ion-select
        [(ngModel)]="customer.jenis_pesanan"
        name="jenis_pesanan"
        required
      >
        <ion-select-option value="Langsung">Langsung</ion-select-option>
        <ion-select-option value="PO">Pre-Order</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button expand="full" type="submit" class="ion-margin-top">
      Simpan Customer
    </ion-button>
  </form>
</ion-content>
