<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Tambah Customer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tambah Customer</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item>
      <ion-input [(ngModel)]="new_nama" label="Nama Customer"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="new_pengirim" label="Nama Pengirim"></ion-input>
    </ion-item>

    <ion-item>
      <ion-radio-group [(ngModel)]="new_jenis_pesanan" value="ambil sendiri">
        <ion-label>Jenis Pesanan</ion-label><br/>
        <ion-radio labelPlacement="start" value="satuan">ambil sendiri</ion-radio><br />
        <ion-radio labelPlacement="start" value="paket">jasa kirim</ion-radio>
      </ion-radio-group>
    </ion-item>
    <ion-item>
      <ion-button onclick="submitcust()">Tambah Customer</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
