<ion-header>
  <ion-toolbar>
    <ion-title>Kelola Stok</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header><ion-card-title>Tambah Stok Masuk</ion-card-title></ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">Pilih Menu</ion-label>
        <ion-select [(ngModel)]="selectedIdMenu">
          <ion-select-option *ngFor="let menu of menus" [value]="menu.idmenu">
            {{ menu.nama }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Jumlah Masuk</ion-label>
        <ion-input type="number" [(ngModel)]="jumlah"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Tanggal Masuk</ion-label>
        <ion-datetime [(ngModel)]="tanggal" display-format="DD MMM YYYY HH:mm" picker-format="YYYY-MM-DD HH:mm"></ion-datetime>
      </ion-item>
      <ion-button expand="block" (click)="tambahStock()">Simpan Stok Masuk</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header><ion-card-title>Kurangi Stok</ion-card-title></ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">Jumlah Keluar</ion-label>
        <ion-input type="number" [(ngModel)]="jumlah"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Tanggal Keluar</ion-label>
        <ion-datetime [(ngModel)]="tanggal" display-format="DD MMM YYYY HH:mm" picker-format="YYYY-MM-DD HH:mm"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Alasan</ion-label>
        <ion-input [(ngModel)]="alasan"></ion-input>
      </ion-item>
      <ion-button color="danger" expand="block" (click)="kurangStock()">Kurangi Stok</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
