<ion-header>
  <ion-toolbar>
    <ion-title>Daftar Stok</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header><ion-card-title>Stok Saat Ini</ion-card-title></ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let s of stocks">
          <ion-label>
            <h2>{{ s.menu_name }}</h2>
            <p>Jumlah: {{ s.jumlah }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
