<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card button (click)="navigateTo('/katalog')">
    <ion-card-header>
      <ion-card-title>📦 Katalog Produk</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card button (click)="navigateTo('/daftarcustomer')">
    <ion-card-header>
      <ion-card-title>👥 Daftar Customer</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card button (click)="navigateTo('/tambahcustomer')">
    <ion-card-header>
      <ion-card-title>➕ Tambah Customer</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card button (click)="navigateTo('/tambahpesanan')">
    <ion-card-header>
      <ion-card-title>📝 Tambah Pesanan</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>
