<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Dashboard</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-md="6" size-lg="3">
          <ion-card (click)="navigateTo('/katalog')">
            <ion-card-header>
              <ion-card-title>Katalog Produk</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-icon name="list" class="dashboard-icon"></ion-icon>
              <p>Lihat daftar produk yang tersedia</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        
        <ion-col size="12" size-md="6" size-lg="3">
          <ion-card (click)="navigateTo('/tambahpesanan')">
            <ion-card-header>
              <ion-card-title>Tambah Pesanan</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-icon name="cart" class="dashboard-icon"></ion-icon>
              <p>Buat pesanan baru</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        
        <ion-col size="12" size-md="6" size-lg="3">
          <ion-card (click)="navigateTo('/daftarcustomer')">
            <ion-card-header>
              <ion-card-title>Daftar Customer</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-icon name="people" class="dashboard-icon"></ion-icon>
              <p>Lihat semua customer</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        
        <ion-col size="12" size-md="6" size-lg="3">
          <ion-card (click)="navigateTo('/tambahcustomer')">
            <ion-card-header>
              <ion-card-title>Tambah Customer</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-icon name="person-add" class="dashboard-icon"></ion-icon>
              <p>Daftarkan customer baru</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col size="12">
          <ion-card (click)="navigateTo('/daftarpesanan')">
            <ion-card-header>
              <ion-card-title>Daftar Pesanan</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-icon name="receipt" class="dashboard-icon"></ion-icon>
              <p>Lihat semua pesanan</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12" size-md="6">
          <ion-card (click)="navigateTo('/report')" class="report-card">
            <ion-card-header>
              <ion-card-title>Laporan Penjualan</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-icon name="bar-chart" class="dashboard-icon"></ion-icon>
              <p>Lihat statistik dan laporan penjualan</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
