<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-segment [(ngModel)]="jenistampilan" >
    <ion-segment-button value="pesanan">
      <ion-label>Pesanan</ion-label>
    </ion-segment-button>
    <ion-segment-button value="customer">
      <ion-label>Customer</ion-label>
    </ion-segment-button>
  </ion-segment>
  
  <ion-list *ngIf="jenistampilan == 'pesanan'">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Card Title</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Ini Pesanan
      </ion-card-content>
    </ion-card>
  </ion-list>

  <ion-list *ngIf="jenistampilan == 'customer'">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Card Title</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Ini Customer
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>